

h1 {
	color: #f44336;
}

.animalButton {
	margin: 0px 2px;
}

#gifGallery {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.createdGif {
	width: 250px;
	height: 200px;
	margin: 0px 5px;
}